@import "footer.css";
@import "global.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i,800&display=swap&subset=latin-ext');

.post-home {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 60% 30%;
    grid-template-areas:
        "hd"
        "main"
        "ft";
    margin: auto;
    width: 50%;
}

header {
    grid-area: hd;
}

main {
    grid-area: main;
}

footer {
    grid-area: ft;
    margin-top: 20%;
}

.blog-home {
    display: inline-block;
    margin-left: 32%;
}

.posts-container {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas: 
        "one two"
        "three four"
        "five six";

    grid-gap: 4%;
    
}

.post-card {
    border: 3px solid grey;
    padding-bottom: 5%;
    padding-left: 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.post-1 {
    grid-area: one;
}

.post-2 {
    grid-area: two;
}

.post-3 {
    grid-area: three;   
}

.post-4 {
    grid-area: four;
}

.post-5 {
    grid-area: five;
}

.post-6 {
    grid-area: six;
}